
<ul class="nav nav-tabs">
    <li class="nav-item">
    <h1 class="text-hide" >BBM</h1>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/listarVehiculo">Catalogo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/listarporcategoria">Buscar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/consultapedido">Pedidos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
        <button class="nav-link" (click)="salir()">Log Out</button>
    </li>
  </ul>


 
   
  