ul.nav {
    background-color: #0a1c2e;
}

ul.nav li.nav-item a.nav-link:hover{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    color: #f2ff49;
}
li.nav-item a.nav-link{
    color: #e5e5e5;
}




