
<p>listarpersona works!</p>

<DIV *ngFor="let vehiculo of vehiculos | async">
    
    <H3>{{vehiculo.id}} {{vehiculo.estado}}
        {{vehiculo.modelo}} {{vehiculo.marca}}
        {{vehiculo.stock}} {{vehiculo.categoria.nombre}}
    </H3>
    
    <hr>

    
</DIV>

<div class='producto' *ngFor="let vehiculo of vehiculos">
    <h2>{{vehiculo.marca}}</h2>
    <img class='imgProducto' src="../assets/productos/{{producto.imagen}}">
    <p>{{vehiculo.modelo}}</p>
    <span class='precio'><strong>Precio</strong>{{vehiculo.categoria.nombre | currency}}</span>
    <button class='button' (click)="adicionarCarrito(producto)" >Comprar</button>
    </div>