

<app-header></app-header>
<div>
    <a class="btn btn-light" routerLink="/listarPedido">Mi Pedido</a>
    <br>
</div>
<div class="container">
<DIV *ngFor="let vehiculo of vehiculos | async">
    
    <H1><strong>{{vehiculo.modelo}}</strong>
    </H1>
    <!--<img class='imgProducto' src="../assets/productos/{{producto.imagen}}">-->


    <img class='imgProducto' src="../../../assets/{{vehiculo.modelo}}.jpg">
    <h3><strong> Marca:</strong> {{vehiculo.marca}} </h3>
    <h3><strong>Categoria: </strong> {{vehiculo.categoria.nombre}}</h3>
    <h3><strong>Precio: </strong> <h1>{{vehiculo.precio}} $</h1></h3>
    <button  class="btn btn-primary">Comentar</button>
    <a class="btn btn-sucess btn-sm" routerLink="/crearComentario/{{vehiculo.id}}">Comen</a>

    <button class="btn btn-warning" (click)="adicionarCarrito(vehiculo)">Pedir</button>
    <hr>
  
</DIV>
<!--<a routerLink="/listarPedido">Mi Pedido</a>-->
<!--<button class="btn btn-warning" (click)="salir()">Log Out</button>-->
</div>

<app-footer></app-footer>


