
<form>
    <div class="form-group row">
        <label for="inputiddet" class="col-sm-2 col-form-label">Categoria</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="inputiddetalle" placeholder="nombre" [(ngModel)]="nombre">
        </div>
    </div>  
      <!--
    <div class="form-group row">
      <label for="inputvehiculo" class="col-sm-2 col-form-label">Vehiculo</label>
      <div class="col-sm-10">
      <select  name="inputvehicuoid" class="form-select" aria-label="Default select example" [(ngModel)]="detalles.vehiculo.id">
        
        <option *ngFor="let item of items" [value]="item.id">{{item.marca}}</option>
      </select>
      </div>
    </div>
        -->
    <button class="btn btn-success" (click)="buscar(nombre)">(+) Buscar</button>
  </form>

  <p>listarpersona works!</p>
<div class="container">
<DIV *ngFor="let vehiculo of vehiculos | async">
    
    <H1> <strong> Categoria: {{vehiculo.categoria.nombre}}</strong>
    </H1>
    <!--<img class='imgProducto' src="../assets/productos/{{producto.imagen}}">-->

    <img class='imgProducto' src="../../../assets/ford.jpg">
    <h3>{{vehiculo.modelo}} {{vehiculo.marca}}</h3>
    <button class="btn btn-warning" >Pedir</button>
    <hr>
  
</DIV>
<a routerLink="/listarPedido">Mi Pedido</a>
</div>