<p>pedidoprueba works!</p>
<div class="wrapper fadeInDown">
    <div id="formContent">
      
  
      
      <div class="fadeIn first">
        <img src="assets/logologin.png" id="icon" alt="User Icon" />
      </div>
  
      
      <form  >
        <input type="text" name="textId" class="fadeIn second"  placeholder="ID Pedido" >
        <input type="text" name="textcedula" class="fadeIn third"  placeholder="Fecha" >
        <input type="text" name="textnombres" class="fadeIn second"  placeholder="ID Persona"   [(ngModel)]="pedido.persona.cedula" required="ingrese nombres">
        
        
        
        <button >Guardar</button>
      </form>
  
      <div id="formFooter">
        <a class="underlineHover" href="login">Iniciar Sesion</a>
      </div>
  
    </div>
  </div>