<H1>><p>crearpersona works!</p></H1>
<!--
[] es un get
() es un set


<form >
    <label for="">Id</label>
    <input name="textId" type="text" [(ngModel)]="persona.cedula">
    <label for="">Cedula</label>
    <input name="textCedula" type="text" [(ngModel)]="persona.Nombre">
    <label for="">Nombre</label>
    <input name="textNombre" type="text" [(ngModel)]="persona.apellido">
    <label for="">Direccion</label>
    <input name="textDireccion" type="text"[(ngModel)]="persona.direccion">
    <label for="">Telfono</label>
    <input name="textTelefono" type="text"[(ngModel)]="persona.email">
    <button (click)="guardar()">Guardar</button>
</form>
-->