
<!--
[] es un get
() es un set


<form >
    <label for="">Id</label>
    <input name="textId" type="text" [(ngModel)]="persona.cedula">
    <label for="">Cedula</label>
    <input name="textCedula" type="text" [(ngModel)]="persona.nombre">
    <label for="">Nombre</label>
    <input name="textNombre" type="text" [(ngModel)]="persona.apellido">
    <label for="">Direccion</label>
    <input name="textDireccion" type="text"[(ngModel)]="persona.direccion">
    <label for="">Telfono</label>
    <input name="textTelefono" type="text"[(ngModel)]="persona.email">
    <button (click)="guardar()">Guardar</button>
</form>
-->
<div class="wrapper fadeInDown">
    <div id="formContent">
      
  
      
      <div class="fadeIn first">
        <img src="assets/logoC.png" id="icon" alt="User Icon" />
      </div>
  
      <h2>Ingrese datos</h2>
      <form  >
        <input type="text" name="textId" class="fadeIn second"  placeholder="Cedula" [(ngModel)]="persona.cedula">
        <input type="text" name="textn" class="fadeIn third"  placeholder="Nombre" [(ngModel)]="persona.nombre" required>
        <input type="text" name="texta" class="fadeIn third"  placeholder="Apelllido" [(ngModel)]="persona.apellido" required>
        <input type="text" name="textd" class="fadeIn third"  placeholder="Direccion" [(ngModel)]="persona.direccion" required>
        <input type="text" name="textt" class="fadeIn third"  placeholder="Telefono" [(ngModel)]="persona.telefono" required>
        <input type="text" name="texte" class="fadeIn second"  placeholder="Email" [(ngModel)]="persona.email" required="ingrese nombres">
        <input type="text" name="textp" class="fadeIn third"  placeholder="Password" [(ngModel)]="persona.password" required>
        
        
        
        <button class="btn btn-primary" (click)="guardar()">Guardar</button>
      </form>
  
      <div id="formFooter">
        <a class="underlineHover" href="login">Iniciar Sesion</a>
      </div>
  
    </div>
  </div>
