<H1>><p>crearpersona works!</p></H1>
<!--
[] es un get
() es un set


<form >
    <label for="">Id</label>
    <input name="textId" type="text" [(ngModel)]="persona.cedula">
    <label for="">Cedula</label>
    <input name="textCedula" type="text" [(ngModel)]="persona.nombre">
    <label for="">Nombre</label>
    <input name="textNombre" type="text" [(ngModel)]="persona.apellido">
    <label for="">Direccion</label>
    <input name="textDireccion" type="text"[(ngModel)]="persona.direccion">
    <label for="">Telfono</label>
    <input name="textTelefono" type="text"[(ngModel)]="persona.email">
    <button (click)="guardar()">Guardar</button>
</form>
-->
<div class="wrapper fadeInDown">
    <div id="formContent">
      
  
      
      <div class="fadeIn first">
        <img src="assets/logologin.png" id="icon" alt="User Icon" />
      </div>
  
      
      <form  >
        <input type="text" name="textId" class="fadeIn second"  placeholder="ID" [(ngModel)]="persona.cedula">
        <input type="text" name="textcedula" class="fadeIn third"  placeholder="cedula" [(ngModel)]="persona.nombre" required>
        <input type="text" name="textnombres" class="fadeIn second"  placeholder="Nombres" [(ngModel)]="persona.email" required="ingrese nombres">
        
        
        
        <button (click)="guardar()">Guardar</button>
      </form>
  
      <div id="formFooter">
        <a class="underlineHover" href="login">Iniciar Sesion</a>
      </div>
  
    </div>
  </div>
