<app-header></app-header>
<H1 class="btn btn-primary">
    <p>Comentarios</p>
</H1>
<form>
    <div class="container">

        <div class="form-group">
            <label>Descripcion</label>
            <textarea name="txtdescripcion" type="text" class="form-control"
                [(ngModel)]="comentario.descripcion"></textarea>
        </div>

       


        <div class="form-group">
            <label for="inputvehiculo">Calificacion</label>

            <select name="inputvehicuoid" class="form-select" aria-label="Default select example"
                [(ngModel)]="comentario.calificacion">
                <!--<option selected>Car + Add</option>-->
                <option>5 </option>
                <option>4 </option>
                <option>3 </option>
                <option>2 </option>
                <option>1 </option>
            </select>

        </div>



        <div class="form-group">
            <label>Persona</label>
            <input name="txtCedula" type="text" class="form-control" [(ngModel)]="comentario.persona.cedula">
        </div>



        <br />
        <button (click)="guardar()" class="btn btn-primary">Guardar</button>

    </div>


    <div class="container">

        <h3>Listado de Comentarios </h3>

        <table class="table table-bordered">
            <thead class="table-warning">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">CALIFICACION</th>
                    <th scope="col">PERSONA</th>




                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let comentorio  of comentarios | async">
                    <th scope="row">{{comentorio.id}}</th>
                    <th scope="row">{{comentorio.descripcion}}</th>
                    <th scope="row">{{comentorio.calificacion}}</th>
                    <th scope="row">{{comentorio.persona.nombre + ' '+comentorio.persona.apellido}}</th>

                </tr>
            </tbody>
        </table>
    </div>



</form>
<br>
<app-footer></app-footer>