<p>listarpersona works!</p>
<!--
<DIV *ngFor="let persona of personas | async">
    
    <H3>{{persona.cedula}} {{persona.nombre}}</H3>
    <span>{{persona.email}}</span>
    //<span><img src="../../../assets/ford.jpg" alt=""></span>
    <hr>
</DIV>
-->
<div class="container">
    <h3>Listado de Persona </h3>
  <table class="table table-bordered">
      <thead class="table-warning">
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Opciones</th>
          

          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas | async">
          <th scope="row">{{persona.cedula}}</th>
          <td>{{persona.nombre}}</td>
          <td>{{persona.email}}</td>
          <td>
            <a class="btn btn-sucess btn-sm" routerLink="/pedido/{{persona.cedula}}">Pedir</a>
          </td>
          <td>
            <button (click)="adicionarCarrito(persona)">Pedir</button>
          </td>
  
         
        </tr>
        
      </tbody>
    </table>
    <a routerLink="/listarPedido">Mi Pedido</a>
  </div>